* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #EFEFEF;
  margin: 0;
  color: black;
  position: relative;
}
 hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.topNavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.topNavBar .topNavBar-inner {
  padding: 20px 16px 20px 16px;
}
.topNavBar > nav {
  padding-top: 7px;
}
.topNavBar .logo {
  float: left;
  font-size: 24px;
  font-family: 'Arial Black';
  padding-top: 3px;
  padding-bottom: 4px;
}
.topNavBar .topNavBar-inner > nav {
  float: right;
}
.topNavBar > nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.topNavBar .topNavBar-inner > nav > ul > li {
  float: left;
  margin-left: 26px;
  margin-right: 26px;
  display: block;
}
.topNavBar .topNavBar-inner > nav > ul > li > a {
  font-family: "Open Sans";
  font-size: 16px;
  color: #b7b7b7;
  font-weight: bold;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  padding-bottom: 5px;
  padding-top: 5px;
  display: block;
}
.topNavBar .topNavBar-inner > nav> ul > li > a:hover {
  border-bottom: 3px solid #e06567;
}
.topNavBar .logo .rs {
  margin-right: 4px;
  color: #e6686a;
}
.topNavBar .logo .card {
  color: #9a9da2;
}
.banner {
  background-image: url(./img/wall.jpg);
  height: 515px;
  background-position: center;
  background-size: cover;
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}
/* main {
  position: relative;
} */
.userCard {
  background-color: #FFFFFF;
  border: 1px solid red;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 244px;
  top: 256px;
}
.pictureAndText {
  padding: 88px 80px 62px;
}
.userCard .welcome {
  background: #E6686A;
  color: white;
  text-align: center;
  padding: 4px 16px;
  line-height: 22px;
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
.userCard .welcome .triangle {
  display: inline-block;
  border: 10px solid transparent;
  height: 0px;
  width: 0px;
  border-left-color: #E6686A;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.userCard .avatar {
  float: left;
  margin-right: 96px;
}   
.userCard .profile {
  float: left;
  /* border: 1px solid orange; */
  width: 380px;
}
.userCard .profile > h1 {
  margin-top: 24px;
}
.userCard .profile > hr {
  margin: 20px 0;
}
.userCard dl dt,
.userCard dl dd {
  float: left;
  padding: 5px 0;
}
.userCard dl dt {
  width: 30%;
  font-weight: bold;
}

.userCard dl dd {
  width: 70%;
  color: #9da0a7;
}
.userCard .media {
  background: #E6686A;
  text-align: center;
}
.userCard .media > a {
  /* border: 1px solid black; */
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 20px; 
}
.userCard .media > a:hover {
  background: #CF5D5F;
}
.userCard svg {
  width: 30px;
  height: 30px;
  fill: white;
  vertical-align: top;
}